body {
    font-family: Montserrat;
    padding-top: 90px;
}

.first-homepage-pic {
   margin-left: 750px;
}

.homepage-content {
 margin-left: 80px;
 position: relative;
 width: 1200px;
 
}


.homepage-image-container{
    background-color: brown;
    width: 0px;
    position: absolute;
    right: 1350px;
}


.homepage-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 24px;
    color:rgb(13, 28, 16);
   /* color: rgb(31, 65, 114); */
    
}

p{
    font-size: 32px;
}

.text-button-container {
    position: absolute;
    top: 180px;
    left: 10px;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(31, 65, 114); 
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    text-decoration-color: rgb(253, 240, 240);
    
}

