body {
    font-family: Montserrat;
    padding-top: 90px;
    margin: 0;
}



.homepage-content {
    margin-left: 5vw;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.first-homepage-pic {
    position: absolute;
    right: 0;
}


.homepage-text {
    font-weight: 700;
    font-size: 3.8rem;
    margin-top: 40px;
    margin-right: 320px;
    color:rgb(13, 28, 16);
   /* color: rgb(31, 65, 114); */
    
}

p{
    font-size: 32px;
    padding-right: 80px;
    z-index: 51;
}


button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(31, 65, 114); 
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    text-decoration-color: rgb(253, 240, 240);
    
}

@media (max-width:  1024px) {
    .homepage-image-container {
        transform: scale(80%);
    }
}

@media (max-width:  750px) {
    .homepage-image-container {
        display: none;
    }
    
    .text-button-container {
        z-index: 1000;
    }

    .fixed-to-the-top-header {
        z-index: 10000;
    }


    .homepage-text {
        margin-right: 0px;
        font-size: 3.5rem;
        margin-left: 0px;
    }

    p {
        margin-right: 0px;
    }

    .logo-of-the-website {
        font-size: 16px;
        margin-left: 5vh;
    }

    .middle-section-header {
        display: none;
    }

    .homepage-content {
        margin-left: 5vh;
    }
}